.article {
  height: 100%;
}

.article--image {
  background-color: #cccccc;  /* Fallback for broken image */ 
  background-size: cover;
  background-position: center;
}

.article--info {
  color: rgb(91 112 131);
}
